html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	margin-bottom: 120px; /* marginalen på botten skall vara samma som höjden på footern */
	background-color: #f8f9fa;
}

header {
	background-color: #dedede;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px; /* Höjden på footern skall vara den samma som bodyn */
	line-height: 40px; /* Höjden på varje rad, tre rader - 120px */
	background-color: #213752;
}

.bgImg {
	background-image: url(../img/1800.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 47%; /* (img-height / img-width * container-width) */
	/* (853 / 1280 * 100) */
	position: relative;
}

.welcomeText {
	position: absolute;
	top: 50%;
	/* position the top  edge of the element at the middle of the parent */
	left: 50%;
	/* position the left edge of the element at the middle of the parent */
	transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
	text-align: center;
}

.welcomeText h1, h2, h3 {
	font-family: "Bell", Times, serif;
	color: #ffffff;
}

.roundedcorner {
	border-radius: 5px 15px;
	border: 3px solid #fffffff;
	
}

.smokeybackground {
	text-shadow: #030303 0 0 25px
}

